#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.navigation {
  margin: 1rem 5rem;
  height: 60px;

  display: flex;
  flex-direction: row;
  padding: 2rem 0.5rem;
  align-items: center;
}

.controls {
  margin: 0rem 5rem 1rem 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content {
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;

  align-items: center;
}

.info-area {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 3rem;
  cursor: pointer;

  border-radius: 12px;
  background-color: var(--color-bg);
}

.timer-menu {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  min-height: 3rem;

  border-radius: 12px;
  background-color: var(--color-bg);
}

.timer-menu > div {
  border-radius: 8px;
  cursor: pointer;
}

.timer-menu > div:hover,
#timer-input:hover,
.info-area:hover {
  background-color: #fbe1a9;
}

#timer-input {
  width: 6rem;
  height: 2rem;

  border: none;
  border-radius: 0.5rem;

  background: var(--color-bg);
  color: var(--color-text);

  text-align: center;
}

.typing-area {
  height: calc(var(--test-line-height) * var(--visible-lines));
  max-width: 1300px;

  margin: 0 auto;
  overflow: hidden;

  border-radius: 12px;
  background-color: var(--color-bg);
}

.typing-content {
  font-size: var(--test-font-size);
  line-height: var(--test-line-height);
}
.results-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

button {
  width: 10rem;
}

.idle-char {
  color: var(--color-text);
  opacity: 80%;
}

.correct-char {
  color: var(--color-text);
}

.incorrect-char {
  color: var(--color-accent);
  background-color: rgba(230, 57, 70, 10%);
  border-radius: 4px;
}

.wpm {
  font-size: 4rem;
  color: var(--color-text);
  border-bottom: var(--color-accent) 1px solid;
}

#caret {
  font-family: Arial, Helvetica, sans-serif;
  animation: caret-blink 1s ease-out infinite;
}

@keyframes caret-blink {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
