.resultsArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: var(--corner-lg);
  gap: 1rem;
  margin-block: var(--space-lg);

  /* outline: 2px solid black; */
}

.visual {
  visibility: hidden;

  min-height: var(--header-height);
  /* outline: 2px solid blue; */
}

.results {
  display: flex;
  flex-direction: row;

  height: var(--results-height);

  padding: 0.5rem;
  /* outline: 2px solid black; */
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  /* outline: 2px solid black; */
}

.mainMetrics {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-direction: row;
  flex: 65;
}

.secondaryMetrics {
  flex: 35;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  place-items: center;
}

.mainUnit {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: var(--color-secondary);
}

.mainValue {
  color: var(--color-accent);
  font-size: 3rem;
}

.unit {
  color: var(--color-secondary);
}

.unitValue {
  color: var(--color-accent);
}

.wpm {
  font-size: 2rem;
  color: var(--color-primary);
  border-bottom: var(--color-incorrect) 1px solid;
}

.notwpm {
  color: var(--color-primary);
}
