#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  color: var(--color-primary);
  gap: var(--space-sm);
}

.section {
  display: flex;

  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

#navigation {
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: var(--nav-height);
}

#main {
  flex: 1;
  flex-direction: column;
  position: relative;
}

#bottomer {
  flex-direction: row;

  height: var(--bottomer-height);
}

#footer {
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: var(--footer-height);
}

.container {
  padding: var(--space-xxs);
  justify-content: space-evenly;
  align-items: center;

  gap: 1rem;
  display: flex;
  flex-direction: row;

  /* outline: green 2px solid; */
}

.placeholder1 {
  width: 3rem;
  height: 3rem;
  border-radius: var(--corner-lg);
  border: var(--color-primary) 2px solid;
}

.placeholder2 {
  width: 7.5rem;
  height: 2.5rem;
  border-radius: var(--corner-lg);
  border: var(--color-primary) 2px solid;
}

.active {
  color: var(--color-accent);
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

#caret {
  font-family: Arial, Helvetica, sans-serif;
  animation: caret-blink 1.5s ease-out infinite;
}

@keyframes caret-blink {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button:hover {
  color: var(--color-accent);
}
